@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    font-size: 1.5em;
}

#calculator {
    display: inline-grid;
    grid-template-columns: 3.3em 3.3em 3.3em 3.3em;
    grid-template-rows: auto 2.5em 2.5em 2.5em 2.5em 2.5em;
    padding: 0.2em;
}

#screen {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    justify-self: stretch;
    align-self: stretch;
    justify-content: flex-end;
    font-family: "Orbitron";
}

#log {
    text-align: end;
    vertical-align: bottom;
    max-width: 100%;
    font-size: 0.7em;
    bottom: 50%;
    overflow-wrap: break-word;
    min-height: 1.5em;
}

#display {
    text-align: end;
    vertical-align: bottom;
    max-width: 100%;
    font-size: 1em;
    bottom: 50%;
    overflow-wrap: break-word;
}

#clear {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: darkred;
}

#divide {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

#multiply {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

#seven, #eight, #nine, #subtract {
    grid-row: 3 / 4;
}

#four, #five, #six, #add {
    grid-row: 4 / 5;
}

#one, #two, #three {
    grid-row: 5 / 6;
}

#zero, #decimal {
    grid-row: 6 / 7;
}

#zero {
    grid-column: 1 / 3;
}

#equals {
    grid-column: 4 / 5;
    grid-row: 5 / 7;
    background-color: rgb(0, 80, 80);
}

div > button {
    justify-self: stretch;
    align-self: stretch;
    border: 0.02px solid white;
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine, #zero, #decimal {
    background-color: lightslategray;
}

#divide, #multiply, #subtract, #add {
    background-color: rgb(83, 97, 110);
}

.post {
    color: white;
    font-size: 0.5em;
}